@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  padding-top: 100px;
  font-weight: 500;
}

h1{
  font-weight: 600;
}

#profile-pic img{
  object-fit: cover;
}

.logout-dropdown{
  width: 130px;
  bottom: -133px;
  right: 0;
}

.logout-dropdown span{
  font-size: 0.9em;
}

.navbar-brand{
  font-size: 1.5em !important;
}

.logo-text{
  color: #7a5c00;
}

.account-img {
    height: 125px;
    width: 125px;
}

.form-text{
  color: black !important;
}

.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.achievement{
  width: 50px;
}

.grayscale{
  filter: grayscale(100%);
}

.lesson-item i{
  color: #FFC107;
  margin-right: 10px;
}

.list-group-item {
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.submit-error,
.score-message,
.correct-answer,
.take-a-scroll{
  display: none;
}

.hanzi{
  font-size: 1.5em;
}

.legend-box{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.legend-div{
  margin: 0 10px;
}

.progress {
  position: relative;
  height: 30px;
  background-color: rgb(223, 223, 223);
}
.progress-bar {
  overflow: hidden;
  z-index: 2;
}

.progress-first-label{
  padding: 0 10px;
  font-weight: bold;
  color: black;
}

.progress-label {
  padding: 0 10px;
  font-weight: bold;
  color: black;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

.card, .btn-admin{
  z-index: 2;
  position: relative;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid hsl(0, 0%, 71%);
}

#date-range-picker{
  display: none;
}

.input-dates{
  width: 300px;
}

@media (max-width:992px) {
  .border-css{
    border:0px solid !important
  }
}