{% extends "landing/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--LOGIN CONTAINER-->
<div class="w-100 vh-100 mb-3 rounded bg-warning shadow d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="container col-lg-9 d-flex flex-column flex-lg-row gap-3">
            <div class="text-center text-lg-start mt-5 mt-md-0 d-flex flex-column justify-content-center">
                <h2 class="display-4 fw-bold lh-1 mb-3">Your fluency is in our hands.</h2>
                <p class="col-lg-10 fs-4">Mandaread is a roadmap to guide you through your Chinese lingo journey.
                    Sign up and start speaking like a local!</p>
            </div>
            <div class="col-12 col-lg-5">
                <form method = "POST" class="p-4 p-md-5 border rounded-3 bg-light shadow-lg">
                    <h2 class = "text-center mb-4">Log In</h2>
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class = "alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {{ form|crispy }}
                    <button class="w-100 btn btn-warning my-3" type="submit">Log In</button>
                    <div class = "text-center">
                        <a href="{% url 'landing-register' %}" class = "text-secondary">New to Mandaread? Sign up</a>
                    </div>
                </form>
            </div>
        </div>    
    
</div>
{% endblock %}