{% extends 'adminmode/base.html' %}

{% block content %}
<div class = "mt-4">
    <div class="container col-12 col-lg-9">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container col-12 col-lg-9 mb-3 d-flex justify-content-between">
        <h2 class="text-start">Lessons</h2>
        <div>
            <a href="{% url 'admin-create-lesson' %}" class="btn btn-warning">Create Lesson</a>
        </div>
    </div>
    
    <div class="container col-12 col-lg-9 mb-5">
        <h3 class="mb-4 text-muted">HSK 1</h3>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
            {% if lesson_list_1 %}
                {% for lesson in lesson_list_1 %}
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="col-4 card text-white border-warning w-100 shadow" style="max-width: 18rem; height: auto;">
                            <b class="card-header text-dark bg-warning">Lesson {{ forloop.counter }}</b>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <a class="text-dark me-2 mb-3 overflow-hidden text-truncate stretched-link text-decoration-none" href="{% url 'admin-lesson' lesson.pk %}">{{ lesson.title }}</a>
                                <div class="d-flex flex-row-reverse gap-1">
                                    <a href = "{% url 'admin-update-lesson' lesson.id %}" class = "btn btn-warning btn-sm btn-admin">Edit</a>
                                    <a class="btn btn-danger btn-sm btn-admin" href = "{% url 'admin-delete-lesson' lesson.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="container">
                <h4 class="text-secondary text-center">Oops! no lessons here yet!</h4>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="container col-12 col-lg-9 mb-5">
        <h2 class="mb-4 text-muted">HSK 2</h2>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
            {% if lesson_list_2 %}
                {% for lesson in lesson_list_2 %}
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="col-4 card text-white border-warning w-100 shadow" style="max-width: 18rem; height: auto;">
                            <b class="card-header text-dark bg-warning">Lesson {{ forloop.counter }}</b>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <a class="text-dark me-2 mb-3 overflow-hidden text-truncate stretched-link text-decoration-none" href="{% url 'admin-lesson' lesson.id %}">{{ lesson.title }}</a>
                                <div class="d-flex flex-row-reverse gap-1">
                                    <a href = "{% url 'admin-update-lesson' lesson.id %}" class = "btn btn-warning btn-sm btn-admin">Edit</a>
                                    <a class="btn btn-danger btn-sm btn-admin" href = "{% url 'admin-delete-lesson' lesson.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="container">
                <h4 class="text-secondary text-center">Oops! no lessons here yet!</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}