{% extends 'adminmode/base.html' %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container col-12 col-md-5 mt-4">
    <h2 class = "mb-3">Edit User: {{ user.username }}</h2>

    <form method = "POST">
        {% csrf_token %}       
        {{ form|crispy }}
    
        <div>
            <button type = "button" onClick="javascript:history.go(-1);" class = "btn btn-outline-secondary">Cancel</button>
            <button type = "submit" class = "btn btn-warning">Update</button>
        </div>
    </form>
</div>
{% endblock %}