{% extends 'adminmode/base.html' %}

{% load static %}

{% block content %}

<div class="mt-4">
    <audio src="" id = "speech" hidden></audio>
    <div class="container col-12 col-lg-9 mb-3">
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class = "mb-3 d-flex flex-column justify-content-center align-items-center">
            <h2>Dictionary</h2>
            <p class = "col-lg-9 text-center">The best tool for your mandarin memorization! We also offer an example sentence of every word. Click the Pinyin, or the example sentence to learn how to pronounce it correctly!</p>
            <div class = "d-flex justify-content-center">
                <div class = "d-flex justify-content-center align-items-center legend-div">
                    <div class = "legend-box"></div>
                    <span>HSK-1</span>
                </div>
                <div class = "d-flex justify-content-center align-items-center legend-div">
                    <div class = "legend-box bg-secondary bg-opacity-25"></div>
                    <span>HSK-2</span>
                </div>
            </div>
            <div class="container mt-3 p-0">
                <a href="{% url 'admin-create-dict' %}" class = "btn btn-warning">Add a word</a>
            </div>
        </div>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 10%;">Hanzi</th>
                    <th style="width: 10%;">Pinyin</th>
                    <th style="width: 10%;">Type of Speech</th>
                    <th style="width: 20%;">Definition</th>
                    <th style="width: 20%">Example</th>
                    <th style="width: 20%">Translation</th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                    {% if word.from_lesson.hsk == 2 %}
                        <tr class = "bg-secondary bg-opacity-25">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td class = "d-flex gap-1 flex-column flex-lg-row">
                            <a href = "{% url 'admin-delete-dict' word.id %}" class = "btn btn-sm btn-danger">Delete</a>
                            <a href = "{% url 'admin-update-dict' word.id %}?next={{current_page}}" class = "btn btn-sm btn-warning">Edit</a>
                        </td>
                        <td role = "button" data-toggle="tooltip" data-placement="top" title="Click me!" class = "hanzi">{{ word.hanzi }}</td>
                        <td>{{ word.pinyin }}</td>
                        <td>{{ word.part_of_speech }}</td>
                        <td>{{ word.definition }}</td>
                        <td role = "button" data-toggle="tooltip" data-placement="top" title="Click me!" class = "hanzi-trans">{{ word.example }}</td>
                        <td>{{ word.translation|capfirst }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% if is_paginated %}
        <div class="container col-12 col-lg-9 mb-5">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-warning mb-4"><i class="fas fa-chevron-left fa-sm"></i><i class="fas fa-chevron-left fa-sm"></i></a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-warning mb-4"><i class="fas fa-chevron-left fa-sm"></i></a>
            {% endif %}
        
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}" class="btn btn-outline-secondary mb-4">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                    <a href="?page={{ num }}" class="btn btn-warning mb-4">{{ num }}</a>
                {% endif %}
            {% endfor %}
        
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-warning mb-4"><i class="fas fa-chevron-right fa-sm"></i></a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-warning mb-4"><i class="fas fa-chevron-right fa-sm"></i><i class="fas fa-chevron-right fa-sm"></i></a>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}