{% extends 'adminmode/base.html' %}

{% block content %}
<div class="mt-4">
    <div class="container mb-3 col-12 col-lg-9">
        <h2 class="text-center">Assessments</h2>
    </div>
    
    <div class="container col-12 col-lg-9 mb-5">
        <h3 class="mb-4 text-center text-muted">HSK 1</h3>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
            {% if lesson_list_1 %}
                {% for lesson in lesson_list_1 %}
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="col-4 card text-white border-warning w-100 shadow" style="max-width: 18rem; height: auto;">
                            <b class="card-header text-dark bg-warning">Lesson {{ forloop.counter }} Assessment</b>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <a class="text-dark me-2 mb-3 overflow-hidden text-truncate stretched-link text-decoration-none" href="{% url 'admin-assessment' lesson.pk %}">{{ lesson.title }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="container">
                    <h4 class="text-secondary text-center">Oops! no assessments here yet!</h4>
                </div>
            {% endif %}
        </div>
    </div>
    
    <div class="container col-12 col-lg-9 mb-5">
        <h3 class="mb-4 text-center text-muted">HSK 2</h3>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-2">
            {% if lesson_list_2 %}
                {% for lesson in lesson_list_2 %}
                    <div class="col d-flex justify-content-center align-items-center">
                        <div class="col-4 card text-white border-warning w-100 shadow" style="max-width: 18rem; height: auto;">
                            <b class="card-header text-dark bg-warning">Lesson {{ forloop.counter }} Assessment</b>
                            <div class="card-body d-flex flex-column justify-content-between">
                                <a class="text-dark me-2 mb-3 overflow-hidden text-truncate stretched-link text-decoration-none" href="{% url 'admin-assessment' lesson.pk %}">{{ lesson.title }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="container">
                    <h4 class="text-secondary text-center">Oops! no assessments here yet!</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}