{% extends 'adminmode/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mb-5 col-12 col-md-6 mt-4">
    {% with request.resolver_match.view_name as view_name %}
        {% if view_name == 'admin-create-lesson' %}
            <h2 class = "mb-3">Create New Lesson</h2>
        {% elif view_name == 'admin-update-lesson' %}
            <h2 class="mb-3">Update Lesson: "{{ object.title }}"</h2>
        {% endif %}
    {% endwith %}
    <form method = "POST">
        {% csrf_token %}
        <div class = "mb-3">
            {{ form|crispy }}
        </div>
        <button type = "button" class = "btn btn-outline-secondary" onClick="javascript:history.go(-1);">Cancel</button>
        <button type = "submit" class = "btn btn-warning">Submit</button>
    </form>
</div>
{% endblock %}